pypdf
pymupdf
langchain
langgraph
langchain-core
langchain-community
sentence-transformers
faiss-cpu
chromadb
ollama
langchain-google-genai
python-dotenv
langchain_openai
langchain-groq
typesense
flask
streamlit
requests
